/* You can add global styles to this file, and also import other style files */
.logo {
  width: 50px;
  height: 25px;
}

td, thead {
  text-align: center;
  border: 1px solid;
  font-weight: bold;
}

tr:hover {
  background-color: #ccc;
}
